
<div class="container">
  <h1>My Task</h1>
    <ul class="list-group pl-0">
      <% @tasks.each do |task| %>
      <li class="list-group-item ">
        <% if task.completed %>
          <i class="fa-solid fa-star"></i>
        <% else %>
          <i class="fa-regular fa-square"></i>
        <% end %>
        <%= link_to task.title, task_path(task) %>
      </li>
      <% end %>
    </ul>
    <div class="form-group my-3">
      <%= link_to "Add a new task", new_task_path %>
    </div>
</div>
